# ew windows
.vscode
BUILD
TMP

MUSIC/music*.txt
*.nes
*.dbg
*.bak

*__pycache__*
1.2.8/Famidash v1.2.8.zip
Famidash - Huge Man-fixed.bad-vram-20260721.smc
Famidash - Huge Man-fixed.pre-scratch-relocation-20260721.smc
Famidash - Huge Man-fixed.smc
Famidash B Sides.nes.smc
famidash-fixed.smc
famidash.nes.smc
